<div>
	<a class="btn" [routerLink]="['/update-client']">Ajouter un client</a>
</div>

<table>
	<thead>
		<tr id="monRow">
			<th>Reférence du client</th>
			<th>Nom du client</th>
			<th>Prénom du client</th>
			<th>Actions</th>getClients
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let client of clients">
			<td>{{client.refClient}}</td>
			<td>{{client.nom}}</td>
			<td>{{client.prenom}}</td>
			<td>
				<a class="nav-link" [routerLink]="['/update-client', client.id]">Détails</a>
			</td>
			<td>
				<a class="nav-link" (click)="deleteUser(client.id)">Delete</a>
			</td>
		</tr>
		<!-- <app-liste-client-row *ngFor="let cli of clients" [client]="cli">
			</app-liste-client-row><br> -->
	</tbody>
</table>