<h3>Informations client :</h3>

<form class="well" (ngSubmit)="onSubmit()" #updateForm='ngForm' novalidate>
	<div class="container-fluid comptesClient">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-md-5 col-md-offset-2 col-lg-8">
					<table class="divider">
						<tr>
							<td>
								<table class="table table-striped table-bordered table-hover">
									<thead class="thead-light">
									</thead>
									<tbody>
										<tr>
											<th>Référence</th>
											<td>
												<input type="text" required [(ngModel)]='actualClient.refClient' name='ref' #ref='ngModel' />
											</td>
										</tr>
										<tr>
											<th>Nom du client</th>
											<td>
												<input type="text" required [(ngModel)]='actualClient.nom' name='nom' #nom='ngModel' />
											</td>
										</tr>
										<tr>
											<th>Prénom du client</th>
											<td>
												<input type="text" required [(ngModel)]='actualClient.prenom' name='prenom' #prenom='ngModel' />
											</td>
										</tr>
										<tr>
											<th>Rue</th>
											<td>
												<input type="text" required [(ngModel)]='actualClient.adresse.rue' name='rue' #rue='ngModel' />
											</td>
										</tr>
										<tr>
											<th>Code postal</th>
											<td>
												<input type="text" required [(ngModel)]='actualClient.adresse.codePostal' name='codePostal' #codePostal='ngModel' />
											</td>
										</tr>
										<tr>
											<th>Ville</th>
											<td>
												<input type="text" required [(ngModel)]='actualClient.adresse.ville' name='ville' #rue='ngModel' />
											</td>
										</tr>
										<tr>
											<th>Tél</th>
											<td>
												<input type="text" required [(ngModel)]='actualClient.adresse.tel' name='tel' #tel='ngModel' />
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td>
								<h4 *ngIf="actualClient.compteCourant.etatActif">Détails du compte courant :</h4>
								<h4 *ngIf="!actualClient.compteCourant.etatActif">Activer le compte courant :</h4>
								<table class="table table-striped table-bordered table-hover">
									<thead class="thead-light">
									</thead>
									<tbody *ngIf="actualClient.compteCourant.etatActif">
										<tr>
											<th>Date d'ouverture</th>
											<td>
												<input type="text" disabled [(ngModel)]='actualClient.compteCourant.dateOuverture' name='dateOuverture' #dateOuverture='ngModel'
												/>
											</td>
										</tr>
										<tr>
											<th>Numéro de compte</th>
											<td>
												<input type="text" required [(ngModel)]='actualClient.compteCourant.numCompte' name='numCompte' #numCompte='ngModel' />
											</td>
										</tr>
										<tr>
											<th>Solde du compte</th>
											<td>
												<input type="text" required [(ngModel)]='actualClient.compteCourant.solde' name='solde' #solde='ngModel' />
											</td>
										</tr>
										<tr>
											<th>Découvert autorisé</th>
											<td>
												<input type="text" required [(ngModel)]='actualClient.compteCourant.decouvertAuthorise' name='decouvertAuthorise' #decouvertAuthorise='ngModel'
												/>
											</td>
										</tr>
									</tbody>
								</table>
								<a class="btn" *ngIf="!actualClient.compteCourant.etatActif" (click)="actualClient.compteCourant.etatActif=true">Active</a>

								<h4 *ngIf="actualClient.compteEpargne.etatActif">Détails du compte épargne :</h4>
								<h4 *ngIf="!actualClient.compteEpargne.etatActif">Activer le compte épargne :</h4>
								<table class="table table-striped table-bordered table-hover">
									<thead class="thead-light">
									</thead>
									<tbody *ngIf="actualClient.compteEpargne.etatActif">
										<tr>
											<th>Date d'ouverture</th>
											<td>
												<input type="text" disabled [(ngModel)]='actualClient.compteEpargne.dateOuverture' name='dateOuvertureEpargne' #dateOuvertureEpargne='ngModel'
												/>
											</td>
										</tr>
										<tr>
											<th>Numéro de compte</th>
											<td>
												<input type="text" required [(ngModel)]='actualClient.compteEpargne.numCompte' name='numCompteEpargne' #numCompteEpargne='ngModel'
												/>
											</td>
										</tr>
										<tr>
											<th>Solde du compte</th>
											<td>
												<input type="text" required [(ngModel)]='actualClient.compteEpargne.solde' name='soldeEpargne' #soldeEpargne='ngModel' />
											</td>
										</tr>
										<tr>
											<th>Taux de rémunération</th>
											<td>
												<input type="text" required [(ngModel)]='actualClient.compteEpargne.tauxInteret' name='tauxInteretEpargne' #tauxInteretEpargne='ngModel'
												/>
											</td>
										</tr>
									</tbody>
								</table>
								<a class="btn" *ngIf="!actualClient.compteEpargne.etatActif" (click)="actualClient.compteEpargne.etatActif=true">Activer</a>

							</td>
						</tr>
						<tr>
							<td colspan="2">
								<button *ngIf="null != actualClient.id" type='submit' class="btn btn-primary">Mettre à jour</button>
								<button *ngIf="null == actualClient.id" type='submit' class="btn btn-primary">Ajouter</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</form>
