<p>updateclient works!</p>


<form (ngSubmit)="onSubmit()" #updateForm='ngForm' novalidate>
	<h2> Details client </h2>
	<div>
		<label> id client</label>

	
<!-- 			type text tu input doit devenit httpElement -->
<input type='text' required [(ngModel)]='client1.id' name='id'
#id='ngModel' /> 		
</div>
<div>
<label> nom client</label>


<!-- 			type text tu input doit devenit httpElement -->
 
	<input type='text' required [(ngModel)]='client1.nom' name='nom'
	#nom='ngModel' />
</div>
<div>
<label> prenom client</label>


<!-- 			type text tu input doit devenit httpElement -->
<input type='text' required [(ngModel)]='client1.prenom' name='prenom'
#prenom='ngModel' /> 		
</div>
<button type='submit' > update </button>
</form>  