<h3>Effectuer un virement :</h3>

<form class="well" (ngSubmit)="onSubmit()" #virementForm='ngForm' novalidate>
	<table>
<!-- 		<colgroup> -->
<!-- 			<col class="col-md-4"> -->
<!-- 			<col class="col-md-4"> -->
<!-- 			<col class="col-md-4"> -->
<!-- 		</colgroup> -->
		<tr>
			<td>
				<div id="debiteur">
					<table>
						<tr>
							<td><label for="debiteurselect">Selectionnez le client à débiter : </label> <select class="form-control"
								name="debiteurselect" id="debiteurselect"
								(ngModelChange)="selectDebiteur($event)" (ngModel)="clientDebiteur">
									<option *ngFor="let client of clients" [ngValue]="client">{{client.nom}}
										{{client.prenom}} ({{client.refClient}})</option>
							</select></td>
						</tr>
						<tr>
							<td><label for="debcomptselect">Selectionnez le
									compte à débiter : </label> <select class="form-control"
								name="debcomptselect" id="debcomptselect"
								(ngModelChange)="selectDepart($event)" (ngModel)="compteDepart">
									<option *ngFor="let compte of departs" [ngValue]="compte">{{compte.numCompte}}
										{{compte.solde}}</option>
							</select></td>
						</tr>
					</table>
				</div>
			</td>
			<td></td>
			<td>
				<div id="crediteur">
					<table>
						<tr>
							<td><label for="crediteurselect">Selectionnez le
									client à crediter : </label> 
								<select class="form-control" name="crediteurselect" id="crediteurselect"
								(ngModelChange)="selectCrediteur($event)" (ngModel)="clientCrediteur">
									<option *ngFor="let client of allClients" [ngValue]="client">{{client.nom}}
										{{client.prenom}} ({{client.refClient}})</option>
							</select></td>
						</tr>
						<tr>
							<td><label for="crdcomptselect">Selectionnez le
									compte à créditer : </label> <select class="form-control"
								name="crdcomptselect" id="crdcomptselect" 
								(ngModelChange)="selectCible($event)" (ngModel)="compteCible">
									<option *ngFor="let compte of cibles" [ngValue]="compte">{{compte.numCompte}}
										{{compte.solde}}</option>
							</select></td>
						</tr>
					</table>
				</div>
			</td>
		</tr>

		<tr>
			<td></td>
			<td><label for="montant">Le montant a virer : </label> <input
				type="text" id="montant" name="montant"
				placeholder="Saisissez le montant" /></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Effectuer"
				class="btn btn-primary" /></td>
			<td></td>
		</tr>
	</table>
</form>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Debiteur</th>
			<th>Nouveau Solde</th>
			<th>Crediteur</th>
			<th>Nouveau Solde</th>
			<th>Montant vire</th>
		</tr>
	</thead>
<!-- 	<tbody> -->
<!-- 		<tr> -->
<!-- 			<td>{{debiteur.nom}} {{debiteur.prenom}}</td> -->

<!-- 			<td>depart.solde</td> -->

<!-- 			<td>{{crediteur.nom}} {{crediteur.prenom}}</td> -->

<!-- 			<td>cible.solde</td> -->

<!-- 			<td>montant</td> -->
<!-- 		</tr> -->
<!-- 	</tbody> -->
</table>